@font-face {
  font-family: "Trebuchet";
  font-style: normal;
  font-weight: 400;
  src:
    url("../assets/fonts/TrebuchetMS.woff")
    format("woff"),
}

@font-face {
  font-family: "Trebuchet";
  font-style: normal;
  font-weight: 600;
  src:
    url("../assets/fonts/TrebuchetMS-Bold.woff")
    format("woff"),
}

@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 300;
  src:
    url("../assets/fonts/Exo2.0-Thin.otf")
    format("OpenType"),
}